html,
body {
  height: 100%;
  overflow: hidden;
}

html {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: Prompt, sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.8);
}

.ant-alert {
  padding: 0.5rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
}
.ant-alert-success {
  border: 1px solid #b7eb8f;
  background-color: #f6ffed;
}
.ant-alert-success-icon {
  color: #52c41a;
  font-size: 1.25rem;
}
.ant-alert-message {
  margin-left: 0.5rem;
}
